<div class="container">
	<h3>Sign In</h3>

<form ng-submit="sInCtrl.login()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" ng-model="sInCtrl.name" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" ng-model="sInCtrl.password" required>
  </div>
  <div ng-show="sInCtrl.error" class="alert alert-danger">{{sInCtrl.errorMessage}}</div>
  <button type="submit" class="btn btn-danger" ng-disabled="sInCtrl.disabled" >Sign In</button>
</form>  

<h6>If you have not registered yet, go to <a class="sign_up" href="#/signup">Sign Up form</a></h6>
</div>