<div class="container">
	<h3>Sign UP</h3>
<div ng-show="sUpCtrl.error" class="alert alert-danger">{{sUpCtrl.errorMessage}}</div>
<form ng-submit="sUpCtrl.register()" >
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" ng-model="sUpCtrl.name" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" ng-model="sUpCtrl.password" required>
  </div>
  <button type="submit" class="btn btn-danger" ng-disabled="sUpCtrl.disabled" >Sign Up</button>
</form>  

</div>

